<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#ordered_table').dataTable( {
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": false,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
                        "aoColumnDefs": [
                          { "bSortable": false, "aTargets": [ 1, 2 ] }
                        ]
			} );
	} );
</script>
<div class="pointer_seancen"></div>
<div class="content_wrapper">
<div class="info">
<a href="<%= url_for :controller => :sessions %>">Sessioun</a>: <span class="bold"><%= "#{@seance.session.start.strftime("%Y")}/#{@seance.session.end.strftime("%Y")}"%></span> 
|
<a href="<%= url_for @seance %>">S&eacute;ance</a>: <span class="bold"><%= @seance.start.strftime("%d/%m/%Y") %></span> de <%= @seance.start.strftime("%H:%M") %> jusqu'&agrave;
<%= @seance.end.strftime("%H:%M") %>
|
<%= @seance.compte_rendu.nil? ? "" : link_to("Compte rendu", @seance.compte_rendu) %>
</div>

<div class="content">
<table class="content" id="ordered_table">
	<thead>
	<tr>
		<th style="width: 50px;"><img width="25" src="/images/dossiers_small.png" alt="dossiers"></th>
		<th style="width: 290px;"> </th>
		<th style="width: 190px; padding-left: 20px;">Vote</th>
		<th><img width="25" alt="logo" src="/images/topics.png"></th>
	</tr>
	</thead>
	<tbody>
	<% @seance.texts.each do |t| -%>
	<tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
		<td><%= link_to t.code, t %></td>
		<td><%= t.title %></td>
		<td style=" padding-left: 10px;"><img src="http://chart.apis.google.com/chart?cht=bhs&chs=150x23&chd=t:<%= "#{t.votes_pour.count}|#{t.votes_contre.count}|#{t.abstentions.count}" %>&chds=0,60&chco=<%= "#{vote_to_color_simple(1)},#{vote_to_color_simple(-1)},#{vote_to_color_simple(0)}" %>" /><br />
		<%= "#{t.votes_pour.count}:#{t.votes_contre.count}:#{t.abstentions.count}" %>
		</td>
		<td><% i = 1 %>
		<% t.topics.each do |to| -%>
			<%= link_to to.name, to %>
			<%= ", " unless i >= t.topics.size %>
			<% i += 1 %>
		<% end -%></td>
	</tr>
	<% end -%>
	</tbody>
</table>
</div>