<%= form_for(@deputy) do |f| %>
  <% if @deputy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deputy.errors.count, "error") %> prohibited this deputy from being saved:</h2>

      <ul>
      <% @deputy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	<div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
	<div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :party_id, "Party" %><br />
    <%= f.select :party_id, Party.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'} %>
  </div>
	<div class="field">
    <%= f.label :circonscription %><br />
    <%= f.select :circonscription, %w[Z S O N] %>
  </div>
	<div class="field">
    <%= f.label :predecessor_id, "Predecessor" %><br />
    <%= f.select :predecessor_id, Deputy.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'} %>
  </div>
	<div class="field">
    <%= f.label :successor_id, "Successor" %><br />
    <%= f.select :successor_id, Deputy.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'} %>
  </div>
	<div class="field">
    <%= f.label :formulaire, "Link to Formulaire B" %><br />
    <%= f.text_field :formulaire %>
  </div>
	<div class="field">
    <%= f.label :pc_img, "Link to Politikercheck.lu Image" %><br />
    <%= f.text_field :pc_img %>
  </div>
	<div class="field">
    <%= f.label :pc_profile, "Link to Politikercheck.lu Profile" %><br />
    <%= f.text_field :pc_profile %>
  </div>
	<div class="field">
    <%= f.label :facebook, "Facebook, only the part BEHIND facebook.com/ !!!" %><br />
    <%= f.text_field :facebook %>
  </div>
	<div class="field">
    <%= f.label :twitter, "Only the twitter USERNAME (without @)" %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
