<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#ordered_table').dataTable( {
			"bPaginate": true,
                        "iDisplayLength": 15,
                        "sPaginationType": "full_numbers",
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 0 ] }
      ]
			} );
	} );
</script>
<div class="pointer_deputeiert"></div>
<div class="content_wrapper">
<div class="usual2">
 
<ul class="idTabs" style="display:inline;"> 
    <li><a href="#idTab1" class="selected"><%= image_tag "active.gif", :alt => "new" %> Aktuell Deputéiert</a></li> 
    <li><a href="#idTab2"> <%= image_tag "093.gif", :alt => "freier" %> Fréier Deputéiert</a></li> 
  </ul> 
 
<div class="content">
<!-- TAB 1 -->
<div id="idTab1">
  
  <div class="slider_static">
  <table class="content" id="ordered_table">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th style="width:100px;"><%= image_tag "deputes_small.png", :alt => "Députés" %></th>
			<th style="width:100px;">&nbsp;</th>
			<th>Partei</th>
			<th>Bezierk</th>
			<th>Amtszäit</th>
		</tr>
	</thead>
	<tbody>
	<% @deputies.each do |deputy| %>
	<% if (deputy.active?) then %>
	  <tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
			<td><%= image_tag 'active.gif' %></td>
	    <td><%= link_to deputy.lastname, deputy %></td>
			<td><%= link_to deputy.firstname, deputy %></td>
	    <td><div class="<%= deputy.party.name %>"></div><%= deputy.party.name %></td>
			<td><%= deputy.bezierk %></td>
			<td><%str = ""
				i = 1
				deputy.memberships.each do |m|
					if m.end.nil? then 
			      str = str + "#{m.start.year} - ..."
			    else
						if deputy.memberships.size > 1 && i <= deputy.memberships.size then
			      	str = "#{m.start.year} - #{m.end.year}; " + str
						else
							str = "#{m.start.year} - #{m.end.year}" + str
						end
			    end
					i = i + 1
				end
			%> <%= str %></td>
	  </tr>
	<% end %>
	<% end %>
	</tbody>
</table>
  </div>

</div> 
<!-- TAB 1 -->

<!-- TAB 2 -->
<div id="idTab2">
  
  <div class="slider_static">
  <table class="content" id="ordered_table">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th style="width:100px;"><%= image_tag "deputes_small.png", :alt => "Députés" %></th>
			<th style="width:100px;">&nbsp;</th>
			<th>Partei</th>
			<th>Bezierk</th>
			<th>Amtszäit</th>
		</tr>
	</thead>
	<tbody>
	<% @deputies.each do |deputy| %>
	<% if (!deputy.active?) then %>
	  <tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
			<td>&nbsp;</td>
	    <td><%= link_to deputy.lastname, deputy %></td>
			<td><%= link_to deputy.firstname, deputy %></td>
	    <td><div class="<%= deputy.party.name %>"></div><%= deputy.party.name %></td>
			<td><%= deputy.bezierk %></td>
			<td><%str = ""
				i = 1
				deputy.memberships.each do |m|
					if m.end.nil? then 
			      str = str + "#{m.start.year} - ..."
			    else
						if deputy.memberships.size > 1 && i <= deputy.memberships.size then
			      	str = "#{m.start.year} - #{m.end.year}; " + str
						else
							str = "#{m.start.year} - #{m.end.year}" + str
						end
			    end
					i = i + 1
				end
			%> <%= str %></td>
	  </tr>
	<% end %>
	<% end %>
	</tbody>
</table>
  </div>

</div> 
<!-- TAB 2 --></div>
  
</div>
