<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#ordered_table').dataTable( {
			"bPaginate": true,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"sPaginationType": "full_numbers",		
			"aaSorting": [[ 1, "desc" ]],
			"aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 0, 2, 4 ] },
        { "sType": "eu_date", "aTargets": [ 1 ] }
      ]
			} );
	} );
	$(document).ready(function() {
		$('#ordered_table2').dataTable( {
			"bPaginate": true,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"sPaginationType": "full_numbers",		
			"aaSorting": [[ 1, "desc" ]],
			"aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 0, 2, 4 ] },
        { "sType": "eu_date", "aTargets": [ 1 ] }
      ]
			} );
	} );
	$(document).ready(function() {
		$('#ordered_table3').dataTable( {
			"bPaginate": true,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"sPaginationType": "full_numbers",		
			"aaSorting": [[ 1, "desc" ]],
			"aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 0, 2, 4 ] },
        { "sType": "eu_date", "aTargets": [ 1 ] }
      ]
			} );
	} );
</script>

<div class="pointer_deputeiert"></div>
<div class="content_wrapper">
<div class="info">

<a href="/deputies">Deput&eacute;</a>: <strong><%= @deputy.name %></strong> | Partei: <strong><%= @deputy.party.name %></strong>
</div>
<% cache("deputies_show_#{@deputy.id}") do %>
<div class="content">

<div class="wrapper_text"> 
<div class="projet">
<img width="137" src="<%= @deputy.pc_img.nil? ? "/images/empty_abg_med.gif" : @deputy.pc_img %>">
</div>

<div class="result">

<div class="h2">
	<%= image_tag "136.gif", :alt => "Deputeiert" %>  
		<span class="h2"><%= @deputy.name %> </span> 
</div>
<div class="h2_partei_wrapper"> 
	<div class="<%= @deputy.party.name %>"> </div>
	<div class="h2_partei_name"><%= @deputy.party.name %></div>   
</div>
<% if @deputy.active? then %>
<div class="dep_contact">
	<div class="contact_top">
Stell dem <%= @deputy.name %> eng Fro!
	</div>
	
	<div class="contact_btm">
<p> <a href="<%= @deputy.pc_profile.nil? ? "http://www.politikercheck.lu/" : @deputy.pc_profile %>"><img src="/images/politikercheck_small.jpg"> </a>

<%= facebook_button(@deputy.facebook).html_safe %>
<%= twitter_button(@deputy.twitter).html_safe %></p>

	</div>
</div>
<% end %>

<div class="h2">

<p>

</div> <% p, c, a = @deputy.split_votes -%>
</p>
</div>

<div class="dossiers2">

<p>
<table style="margin-bottom:20px">
<tr>
<td><%= image_tag "123.gif", :alt => "Praesenz" %> </td>
<td width="120px"> Präsenz bei Voten:</td>
<td> <span style="font-weight: bold;"><%= number_to_percentage(@deputy.presence,:precision => 2) %></span></td>
</tr>
<tr>
<td><%= image_tag "124.gif", :alt => "Delegatounen" %></td>
<td>Délégations / Vote:</td>
<td> <span style="font-weight: bold;"><%= number_to_percentage(@deputy.delegations_rate,:precision => 2) %></span></td>
</tr>
</table>
	<div class="result2">
	
<table>
	<tr>
		<td style="width: 15px; text-align:left; background-color:<%=vote_to_color(1)%>"> </td>
        <td style="text-shadow: 2px 2px 3px rgb(205, 205, 205); width: 70px; text-align:left; font-weight:bold;">Pour:</td>
		<td style="width: 50px; text-align:left;"><%= p.count %> (<%= number_to_percentage((p.count / (p.count+c.count+a.count).to_f)*100,:precision => 2) %>)</td>
	</tr>
    <tr>
		<td style="width: 15px; text-align:left; background-color:<%=vote_to_color(-1)%>"> </td>
        <td style="text-shadow: 2px 2px 3px rgb(205, 205, 205); width: 70px; text-align:left; font-weight:bold;">Contre:</td>
		<td style="width: 50px; text-align:left;"><%= c.count %> (<%= number_to_percentage((c.count / (p.count+c.count+a.count).to_f)*100,:precision => 2) %>)</td>
	</tr>
	 <tr>
		<td style="width: 15px; text-align:left; background-color:<%=vote_to_color(0)%>"> </td>
        <td style="text-shadow: 2px 2px 3px rgb(205, 205, 205); width: 70px; text-align:left; font-weight:bold;">Abstentions:</td>
		<td style="width: 50px; text-align:left;"><%= a.count %> (<%= number_to_percentage((a.count / (p.count+c.count+a.count).to_f)*100,:precision => 2) %>)</td>
	</tr>
</table>
<p>
<img src="http://chart.apis.google.com/chart?cht=bhs&amp;chs=150x23&amp;chd=t:<%= "#{p.count}|#{c.count}|#{a.count}" %>&amp;chds=0,<%=p.count+c.count+a.count%>&amp;chco=<%= "#{vote_to_color_simple(1)},#{vote_to_color_simple(-1)},#{vote_to_color_simple(0)}" %>" />
</div>	

</div>


	<div class="dep_details">
<% if @deputy.active? then %> <%= image_tag "active.gif", :alt => "active" %> <% end %>			<%str = ""
			i = 1
			@deputy.memberships.each do |m|
				if m.end.nil? then 
		      str = str + "#{m.start.year} - ..."
		    else
					if @deputy.memberships.size > 1 && i <= @deputy.memberships.size then
		      	str = "#{m.start.year} - #{m.end.year}; " + str
					else
						str = "#{m.start.year} - #{m.end.year}" + str
					end
		    end
				i = i + 1
			end
		%> <%= str %> <% if !@deputy.predecessor.nil? %>(Prédécesseur: <%= link_to @deputy.predecessor.name, @deputy.predecessor %>) <% end %><% if !@deputy.successor.nil? %> (Successeur: <%= link_to @deputy.successor.name, @deputy.successor %>)<% end %>
|
<%= image_tag "061.gif", :alt => "Bezierk" %> Bezierk <%= @deputy.bezierk %>
|
<% if @deputy.active? then -%>
<%= image_tag "028.gif", :alt => "Niewenakommes" %> <%= @deputy.formulaire.nil? ? "Niewenakommes (coming soon)" : "<a href='#{@deputy.formulaire}'>Niewenakommes</a>".html_safe %>
<% end -%>
|
Weider Detailer

</div>


</div>
<div class="usual"> 

 <ul class="idTabs" style="display:inline; padding-left:0px; margin-left:0px;"> 
    <li><a href="#idTab1" class="selected"><%= image_tag "001.gif", :alt => "new" %> All Dossieren</a></li> 
    <li><a href="#idTab2"> <%= image_tag "fav.gif", :alt => "fav" %> Top Dossieren</a></li> 
    <li><a href="#idTab3"><%= image_tag "109.gif", :alt => "featured" %> Feature Dossieren</a></li> 
  </ul> 
<div class="content">

<!-- TAB 1 -->
    <div id="idTab1">

  <div class="slider_static">  
<table class="content" id="ordered_table">
	<thead>
	<tr>
		<th width="60px"><img width="25" src="/images/sessions.png" alt="Sessions"></th>
		<th width="60px"><img width="25" src="/images/seances_small.png" alt="Seances"></th>
		<th width="70px" style="padding-left:0px;"><img width="25" alt="Dossiers" src="/images/dossiers_small.png"></th>
		<th class="vote">Vote</th>
		<th><img width="25" alt="Topics" src="/images/topics.png"></th>
		<th width="105px">Délégéierten</th>
	</tr>
	</thead>
	<tbody>
	<% @deputy.votes.each do |v| -%>
	<tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
		<td><%= link_to "#{v.text.seance.session.start.strftime("%Y")}/#{v.text.seance.session.end.strftime("%Y")}", v.text.seance.session%></td>
		<td><%= link_to v.text.seance.start.strftime("%d/%m/%Y"), v.text.seance %></td>
		<td><%= link_to v.text.code, v.text %></td>
		<td style="background-color:<%= vote_to_color(v.vote) %>; color:<%= vote_to_color(v.vote) %>"><%= v.vote %></td>
		<td style="padding-left: 20px; text-align: left;"><%= v.text.title %></td>
		<td style="padding-left: 10px"><%= v.delegate.nil? ? "" : link_to(v.delegate.name, v.delegate) %></td>
	</tr>
	<% end -%>
	</tbody>
</table>
</div>


  </div> 
    <!-- TAB 1 -->
     <!-- TAB 2 -->
    <div id="idTab2">
  
  <div id="mydiv2" style="display:block; z-index:0;" class="slider_static">		
  
		<table class="content" id="ordered_table2">
			<thead>
			<tr>
				<th width="60px"><img width="25" src="/images/sessions.png" alt="Sessions"></th>
				<th width="60px"><img width="25" src="/images/seances_small.png" alt="Seances"></th>
				<th width="70px" style="padding-left:0px;"><img width="25" alt="Dossiers" src="/images/dossiers_small.png"></th>
				<th class="vote">Vote</th>
				<th><img width="25" alt="Topics" src="/images/topics.png"></th>
				<th width="105px">Délégéierten</th>
			</tr>
			</thead>
			<tbody>
			<% @deputy.votes.each do |v| -%>
			<% if !v.text.favorite.nil? && v.text.favorite < 99 then %>
			<tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
				<td><%= link_to "#{v.text.seance.session.start.strftime("%Y")}/#{v.text.seance.session.end.strftime("%Y")}", v.text.seance.session%></td>
				<td><%= link_to v.text.seance.start.strftime("%d/%m/%Y"), v.text.seance %></td>
				<td><%= link_to v.text.code, v.text %></td>
				<td style="background-color:<%= vote_to_color(v.vote) %>; color:<%= vote_to_color(v.vote) %>"><%= v.vote %></td>
				<td style="padding-left: 20px; text-align: left;"><%= v.text.title %></td>
				<td style="padding-left: 10px"><%= v.delegate.nil? ? "" : link_to(v.delegate.name, v.delegate) %></td>
			</tr>
			<% end %>
			<% end -%>
			</tbody>
		</table>
		
		</div>
  
  </div> 
      <!-- TAB 2 -->
  
    <!-- TAB 3 -->
  <div id="idTab3">
  
  <div id="mydiv3" style="display:block; z-index:0;" class="slider_static">  
  
  	
		<table class="content" id="ordered_table3">
			<thead>
			<tr>
				<th width="60px"><img width="25" src="/images/sessions.png" alt="Sessions"></th>
				<th width="60px"><img width="25" src="/images/seances_small.png" alt="Seances"></th>
				<th width="70px" style="padding-left:0px;"><img width="25" alt="Dossiers" src="/images/dossiers_small.png"></th>
				<th class="vote">Vote</th>
				<th><img width="25" alt="Topics" src="/images/topics.png"></th>
				<th width="105px">Délégéierten</th>
			</tr>
			</thead>
			<tbody>
			<% @deputy.votes.each do |v| -%>
			<% if !v.text.featured.nil? && !v.text.featured.empty? then %>
			<tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
				<td><%= link_to "#{v.text.seance.session.start.strftime("%Y")}/#{v.text.seance.session.end.strftime("%Y")}", v.text.seance.session%></td>
				<td><%= link_to v.text.seance.start.strftime("%d/%m/%Y"), v.text.seance %></td>
				<td><%= link_to v.text.code, v.text %></td>
				<td style="background-color:<%= vote_to_color(v.vote) %>; color:<%= vote_to_color(v.vote) %>"><%= v.vote %></td>
				<td style="padding-left: 20px; text-align: left; font-weight: bold;"><%= v.text.featured %></td>
				<td style="padding-left: 10px"><%= v.delegate.nil? ? "" : link_to(v.delegate.name, v.delegate) %></td>
			</tr>
			<% end %>
			<% end -%>
			</tbody>
		</table>
  
  
  </div>
  
  </div> 
      <!-- TAB 3 -->
    
</div></div>

</div>
<% end %>

