<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#ordered_table').dataTable( {
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": false,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
                        "aoColumnDefs": [
                          { "bSortable": false, "aTargets": [ -1, -2 ] },
                          { "sType": "eu_date", "aTargets": [ 0 ] }
                        ]
			/*"aoColumns": [
						{ "sType": "date" },
						null,
						null,
						null
					] */
			} );
	} );
</script>
<div class="pointer_topics"></div>
<div class="content_wrapper">
<div class="info"><a href="/topics">Thema</a>: <span class="bold"><%= @topic.name %></div></span> 


<div class="content">
	<table class="content" id="ordered_table">
	  <thead>
		<tr>
	    <th style="width: 80px;"><img width="25" alt="séances" src="/images/seances_small.png"></th>
	    <th style="width: 50px;"><img width="25" alt="dossiers" src="/images/dossiers_small.png"></th>
		 <th style="width: 375px; padding-right: 10px;"> </th>
		 <th style="width: 150px; padding-left: 20px;">Vote</th>
	  </tr>
		</thead>
		<tbody>
		<% @topic.texts.each do |t| -%>
		<tr  onmouseout="style.backgroundColor='#fff'" onmouseover="style.backgroundColor='#eee';" style="background-color: rgb(255, 255, 255);">
			<td><%= link_to "#{t.seance.start.strftime("%d/%m/%Y")}", t.seance %></td>
			<td><%= link_to t.code, t %></td>
			<td style="padding-right:10px"><%= t.title %></td>
			<td style="padding-left: 10px;"><img src="http://chart.apis.google.com/chart?cht=bhs&chs=150x23&chd=t:<%= "#{t.votes_pour.count}|#{t.votes_contre.count}|#{t.abstentions.count}" %>&chds=0,60&chco=<%= "#{vote_to_color_simple(1)},#{vote_to_color_simple(-1)},#{vote_to_color_simple(0)}" %>" /><br />
		<%= "#{t.votes_pour.count}:#{t.votes_contre.count}:#{t.abstentions.count}" %></td>
		</tr>
		<% end -%>
		</tbody>
	</table>
</div>