<div class="pointer_deputeiert"></div>
<div class="content_wrapper">
<div class="info">
Entrée vu Voten
</div>

<div class="content">
	
	<div style="padding: 10px;">
		<em>Attention, this form does not allow to encode proxies! Those have to be encoded separately at <%= link_to "New Vote", {:action => :new, :controller => 'votes'} %></em>
		
		<%= form_tag({:action => "save_votes", :controller => "admin"}, :method => "post") do  %>
			<table>
				<tr>
					<td>Text:</td>
					<td><%= select("vote", "text_id", @texts.collect {|t| [ t.code, t.id ] }, {}, {:class => "chzn-select"}) %></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Pour</td>
					<td>Contre</td>
					<td>Abstention</td>
				</tr>
				<tr>
					<td><%= select("vote", "pour", @deputies.collect {|d| [ d.name, d.id ] }, {}, {:multiple => true, :class => "chzn-select"}) %></td>
					<td><%= select("vote", "contre", @deputies.collect {|d| [ d.name, d.id ] }, {}, {:multiple => true, :class => "chzn-select"}) %></td>
					<td><%= select("vote", "abstention", @deputies.collect {|d| [ d.name, d.id ] }, {}, {:multiple => true, :class => "chzn-select"}) %></td>
				</tr>
			</table>
			<%= submit_tag("Save") %>
		<% end %>
	</div>
</div>
<%= javascript_include_tag "chosen" %>
<script type="text/javascript"> $(".chzn-select").chosen(); </script>