<div class="pointer_deputeiert"></div>
<div class="content_wrapper">
<div class="info">
Entrée vu Voten
</div>

<div class="content">
	
	<div style="padding: 10px;">
		
		<%= form_tag({:action => "save_votes", :controller => "admin"}, :method => "post") do  %>
			<table>
				<tr>
					<td>Text:</td>
					<td><%= select("text", "id", @texts.collect {|t| [ t.code, t.id ] }, {}, {:class => "chzn-select"}) %></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3">
						<table>
							<tr>
								<th>Deputy</th>
								<th>Pas voté</th>
								<th>OUI</th>
								<th>NON</th>
								<th>ABSTENTION</th>
								<th>Proxy</th>
							</tr>
							<% @deputies.each do |d| %>
							<tr>
								<td><%= d.name %></td>
								<td><%= radio_button("vote", d.id, "noshow") %></td>
								<td><%= radio_button("vote", d.id, "yes") %></td>
								<td><%= radio_button("vote", d.id, "no") %></td>
								<td><%= radio_button("vote", d.id, "abs") %></td>
								<td><%= select("proxy", d.id, @deputies.collect {|de| [de.name, de.id]}, { :include_blank => true }) %></td>
							</tr>
							<% end %>
						</table>
					</td>
				</tr>
			</table>
			<%= submit_tag("Save") %>
		<% end %>
	</div>
</div>
<%= javascript_include_tag "chosen" %>
<script type="text/javascript"> $(".chzn-select").chosen(); </script>