<div class="content_wrapper">

<a name="up"> </a>

<div class="usual"> 

  <ul class="idTabs" style="display:inline; margin-left: 0px; padding-left: 0px;"> 
    <li><a href="#id1" class="selected"><%= image_tag "LU-flag.png", :alt => "LU" %>Transparenz schaaft Vertrauen!</a></li> 
    <li><a href="#id2"> <%= image_tag "FR-flag.png", :alt => "FR" %> La confiance par la transparence!</a></li> 
    <li><a href="#id3"><%= image_tag "DE-flag.png", :alt => "DE" %> Transparenz schafft Vertrauen!</a></li> 
  </ul> 

<!-- TAB 1 -->
    <div id="id1" style="padding-top: 5px;">
  		<div class="slider_static">
			<div class="content_static"> <!-- CS START 1 -->

<p><strong>Fonctionnement</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro" %> <a href="#wei">Wéi fannen ech e bestëmmten Dossier?</a><br>
<%= image_tag "013.gif", :alt => "Fro" %> <a href="#fav">Wat bedeit de giele Stär (<%= image_tag "fav.gif", :alt => "fav" %>) hannert den Dossier Nummeren, bzw. "Top Dossier"?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#feature">Wat bedeit d'Medaille (<%= image_tag "109.gif", :alt => "feature" %>) hannert den Dossier Nummeren, bzw. "Feature Dossier"?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#dot">Wat bedeit de grénge Punk (<%= image_tag "active.gif", :alt => "active" %>) virun den Deputéiert?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#abstention">"Abstention" - sinn dat och d'Absencen? </a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#niewen">Wat bedeit Niewenakommes?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#functioun">Ech wéilt gäre Funktioun A oder Statistik B! </a> <br>
</p>
<p><strong>Iwwer de Projet</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wisou">Wisou gëtt et Depuwatch.lu?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wien">Wien sidd dir?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#beta">Wat bedeit "Beta"?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#chamber">Wier et net besser d'Chamber géif dës Donnéeën ubidde wéi eng politesch Partei? </a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#delete">Ech sinn Deputéiert; kann ech meng Donnéeë läsche loossen?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#updates">Wéi bleiwen ech um Lafenden wat d'Entwécklung vun Depuwatch ugeet?</a><br>
</p>
<p><strong>Technesch Infrastruktur</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wou">Wou kommen d'Donnéeën hier?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#korrekt">Wouhier weess ech, dass d'Donnéeën richteg sinn? </a>
</p>
<strong>Divers</strong>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#eu">Wou fannen ech Ofstëmmungen vun den EU Deputéiert?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#qp">Wou fannen ech d'Questions Parlementaires vun den Deputéierten? </a>
</p>

				<div class="more3">Eng Fro, déi am F.A.Q. feelt? <a href="/contact">So ons bescheed!</a></div>
				
			</div> <!-- CS END 1 -->
			
<div class="info">Fonctionnement</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="wei"> </a> <strong> Wéi fannen ech e bestëmmten Dossier?</strong></p>
<p> <strong>Mat der "Search"</strong></p>
<p>D'Dossiere loossen sech no bestëmmte Wieder duerchsichen. Dofir einfach op der <a href="/texts">Dossier Iwwersiicht</a> dat gesichte Wuert antippen. Ugewise ginn déi Dossieren, déi dat getippte Wuert am Titel hunn.</p>
<p> <strong>Mat der Dossier-Nummer</strong></p>
<p>Ass d'Nummer vum Dossier bekannt, geet et duer op der <a href="/texts">Dossier-Säit</a> an der "Search" dësen Nummer unzeginn. D'Dossiere loossen sech op dëser Säit och no der Nummer sortéieren, falls nëmmen en Deel vun den Zuele bekannt ass.</p>
<p><strong>Mam Thema</strong></p>
<p><a href="/topics">Theme-Säit</a> lescht Dossieren no Thema op. Mat engem Klick op e bestëmmten Thema ginn et weider Detailer zu den Dossieren aus deem Themeberäich. D'Thema vun engem Dossieren ass duerch de Ministère deen den Dossier ënnerschriwwen huet determinéiert (z.B. Dossieren déi vum „Ministère des Finances“ ënnerschriwwe sinn fannen sech beim Thema "Finanzen"). <a href="#up"><img src="/images/012.gif"></a> </p>
<p><strong>"Top Dossier a "Feature" Dossier</strong></p>
<p>Ass e bestëmmten Dossier besonnesch vill diskutéiert ginn oder huet wichteg Entwécklunge mat sech bruecht kann e vu Politikercheck als "Feature" Dossier oder vun de Visiteure vun Depuwatch als "Top" Dossier markéiert gi sinn. Ënnert dësem Wee sinn interessant Dossieren am schnellsten ze fannen. <a href="#up"><img src="/images/012.gif"></a></p>
</div>


<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="fav"> </a> <strong> Wat bedeit de giele Stär (<%= image_tag "fav.gif", :alt => "fav" %>) hannert den Dossier Nummeren, bzw. "Top Dossier"?</strong></p>
<p>Dossiere mat engem Stär virdru sinn "Top Dossieren". Dës Dossiere goufe vun de Visiteure vun Depuwatch als interessant Dossieren ausgewisen. </p>
<p>Op der jeeweileger Detailsäit vun all Dossier kann dësen als "Top Dossier" markéiert ginn. "Top Dossiere" sinn déi 45 Dossieren, déi an de läschte 7 Deeg am meeschte gestëmmt goufen.<a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="feature"> </a> <strong> Wat bedeit d'Medaille (<%= image_tag "109.gif", :alt => "feature" %>) hannert den Dossier Nummeren, bzw. "Feature Dossier"?</strong></p>
<p> Dossieren déi mat enger Medaille markéiert sinn sinn "Feature" Dossieren. Dës Dossieren si besonnesch interessant a goufen zu Lëtzebuerg vill diskutéiert oder hunn wichteg Verännerunge mat sech bruecht. Den Titel gëtt e kuerzen Hiwäis vu wat de jeeweilegen Dossier handelt.</p>
<p>"Feature" Dossiere gi vu Politikercheck no den uewe genannte Kriterien ausgesicht.
<a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="dot"> </a> <strong> Wat bedeit de grénge Punkt (<%= image_tag "active.gif", :alt => "active" %>) virun den Deputéierten?</strong></p>
<p> Aktuell Deputéiert sinn mat dësem Icon markéiert. Deputéiert ouni Icon sinn net méi aktiv.
<a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="abstention"> </a> <strong> "Abstention" - sinn dat och d'Absencen?
</strong></p>
<p> Nee. Bei "Abstention" gëtt just ugewise wéi oft en Deputéierten sech bei enger Ofstëmmung enthalen huet. D'Absencë kënne mer net uweise wëll dës Donnéeën net vun der Chamber verëffentlecht ginn. Mir kënnen ënnert "Präsenz bei Voten" just uweise wéi oft en Deputéierte präsent war, wann en Dossier zur Ofstëmmung stoung. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="niewen"> </a> <strong> Wat bedeit Niewenakommes?
</strong></p>
<p> Ënnert "Niewenakommes" gëtt op d'Formulaire A a B verlinkt, déi um Site vun der Chamber publizéiert ginn. Hei leschten d'Deputéiert hier Tätegkeeten an Akommes nieft deër vun Deputéiert op. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="functioun"> </a> <strong> Ech wéilt gäre Funktioun A oder Statistik B!
</strong></p>
<p> Depuwatch wäert stänneg erweidert a verbessert ginn. Wanns Du eng bestëmmte Funktioun wëlls gesinn, schreif ons op <i>info@depuwatch.lu</i>. </p><p>
Doriwwer raus ass Depuwatch "open source". De Quellcode ass op <a href="https://github.com/svnee/Depuwatch">Github</a> ze fannen a kann vun all interesséierter Persoun ugekuckt a verännert ginn. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="info">Iwwer de Projet</div>

<div class="content_static">
<p> <a name="wisou"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wisou gëtt et Depuwatch.lu?</strong></p>
<p> D'Ziel vun Depuwatch ass et d'Politik fir d'Bierger méi transparent ze gestalten.
D'Ofstëmmungen an der Chamber sinn zwar ëffentlech, et ass trotzdem net einfach déi eenzel Voten ze verfollegen. Sou sinn d'Stëmme vun den Deputéiert um Site vun der Chamber (an engem PDF-Dokument) ze fannen, ma net an enger iwwersiichtlecher graphescher Duerstellung. Et ass och méiglech d'Ofstëmmungen op Chamber TV ze verfollegen, mä hei kritt een nëmmen d'Resultat vum Vote gesot an net d'Votë vun den eenzelnen Deputéierten.</p>

<p>Depuwatch soll dës Lücke schléissen an ëffentlech Donnéeën iwwersiichtlech duerstelle fir d'Bierger méi no un d'Politik an d'Deputéiert erun ze bréngen. Dëse Site soll souwuel d'Transparenz vun  der politescher Arabescht an der Chamber erhéijen, wéi och d'Bierger zu engem méi direkten Dialog mat den Deputéiert ureegen.<a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="wien"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wien sidd dir?</strong></p>
<p> Depuwatch ass aus der Zesummenaarbecht vu Politikercheck.lu an der Piratepartei Lëtzebuerg entstanen. D'Zesummenaarbecht vu Politikercheck.lu an Depuwatch erlaabt et all Bierger den Deputéierte konkret Froen zu bestëmmten Ofstëmmungen ze stellen. 
Politikercheck.lu iwwerhëlt am Projet Depuwatch d'Rolle vum onofhängege Beobachter während déi technesch Infrastruktur vun der Piratepartei Lëtzebuerg offréiert gëtt.</p><p>
Bei Froen, Kommentaren, oder Kritik <a href="/contact">kontaktéiert</a> d'Partner vun Depuwatch. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="beta"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wat bedeit "Beta"?</strong></p>
<p> Depuwatch ass momentan nach eng "Beta" Versioun, d.h. et ass nach net de fäerdege Produit wéi vun den Entwéckler geplangt. De Virdeel eng "Beta" Versioun ze verëffentlechen ass deen, mam Feedback vun de Benotzer Feeler kënnen ze behiewen an nei Fonctiounen no de Wënsch vun de Benotzer anzebauen. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>


<div class="content_static">
<p> <a name="chamber"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wier et net besser d'Chamber géif dës Donnéeën ubidde wéi eng politesch Partei?</strong></p>
<p> Dach. Momentan sinn d'Donnéeën déi Depuwatch duerstellt awer nëmme schlecht (z.B. Ofstëmmungen) oder guer net (z.B. Präsenze bei Ofstëmmungen, vergaangen Deputéiert) op den offizielle Säiten ze fannen.</p><p>
D'Depuwatch Partner ënnerstëtzen all Initiativ fir en Projet vun den offizielle Stellen. D'Verantwortlech vun der Chamber kënne mat ons ënnert folgender E-Mail a Kontakt trieden: <i>info@depuwatch.lu</i>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="delete"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Ech sinn Deputéiert; kann ech meng Donnéeë läschte loossen?</strong></a></p>
<p> All Donnéeë  vun Depuwatch sinn ëffentlech verfügbar. D'Späicheren an d'Verëffentlechung, d'Analyse an d'Diskutéiere vun dësen Donnéeën ass en integrale Bestanddeel vun enger Demokratie a wäerten net geläscht ginn.</p><p>
Sollt Depuwatch en Sozialen Netzwierk Account vun engem Deputéierte verëffentlechen, deen dës Persoun wëll geheim halen, da schéckt ons eng Mail op <i>abuse@depuwatch.lu</i> a mir läschen de Link op dëse Profil. Mir empfielen awer an e sou engem  Fall de concernéierten Account beim Sozialen Netzwierk och ze läschen  oder ze melle wëll sech sou Profiler generell net geheim hale loossen. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="updates"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wéi bleiwen ech um Lafenden wat d'Entwécklung vun Depuwatch ugeet?</strong></a></p>
<p> Alles neits zum Projet Depuwatch gëtt et op dem <a href="http://blog.depuwatch.lu"> Depuwatch Blog</a>, <a href="https://www.facebook.com/Depuwatch">Facebook</a> an <a href="http://twitter.com/#!/depuwatch">Twitter</a>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static"></div>
<div class="info">Technesch Infrastruktur</div>

<div class="content_static">
<p> <a name="wou"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wou kommen d'Donnéeën hier?</strong></a></p>
<p> All Donnéeë vun Depuwatch (bis op Links op Sozial Medien) si vun den offizielle Säite vun der <a href="http://chd.lu">Chambre des Députés</a> a <a href="http://légilux.public.lu">Légilux</a>, souwuel wéi <a href="http://politikercheck.lu">Politikercheck</a> (Fotoen). Depuwatch verbënnt dës Donnéeën a wéist se an iwwersiichtlecher Duerstellung un. </p>
<p>Donnéeë goufen mat Hëllef vun engem <a href="http://scraperwiki.com/scrapers/chd/">Script</a> no bestëmmte Reegele beim automateschen Opruffe vun der Chamber Websäit erofgelueden ("gescraped"). Dës Donnéeë ginn da manuell iwwerpréift ier se publizéiert ginn. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="korrekt"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wouhier weess ech, dass d'Donnéeën richteg sinn?</strong></a></p>
<p> D'Donnéeë ginn automatesch aus den offiziellen Dokumenter vun der Chamber erausgelies an an enger Datebank verbonnen. De Fonctionnement vun dëser Datebank, sou wéi d'manuell agedroen Donnéeë goufe vun der Piratepartei a Politikercheck op hier Korrektheet gepréift. Zur eegener Iwwerpréifung ass bei all Seance an Dossier e Link op déi offiziell Dokumenter (Compte Rendu, Mémorial a Resumé).</p>
<p>Trotz aller Virsiicht kënnen sech an dësem Prozess Feeler aschläichen. Sollt Dir e Feeler opfalen, <a href="/report">kontaktéier ons</a>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="info">Divers</div>
<div class="content_static">
<p> <a name="eu"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wou fannen ech d'Ofstëmmungen vun den EU Deputéierten?</strong></a></p>
<p> Depuwatch wéist nëmmen d'Ofstëmmunge vun de lëtzebuerger Deputéiert an der Chambre des Députés un. D'Ofstëmmunge vun de lëtzebuergeschen EU Deputéiert sinn op
<a href="http://votewatch.eu/cx_countries.php?euro_tara_id=25">Votewatch.eu</a> ze fannen.
 <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="qp"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Wou fannen ech d'Questions Parlementaires vun den Deputéierten? </strong></a></p>
<p> D'Questions Parlementaires vun den Deputéierte sinn op der Chamber Säit ënnert "<a href="http://chd.lu/wps/portal/public/!ut/p/c1/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gXI5ewIE8TIwN380ATAyMvVy_z0GA_Ywt3Y6B8pFm8kYVFcJC7o6-rpWWok4GngbNhsGugk5GBpxEB3X4e-bmp-pH6UeZIqsJ8DQ2MnDyNA70CLI0tXA31I3NS0xOTK_ULciPK8x0VFQGcGq-6/dl2/d1/L0lJSklna21BL0lKakFBRXlBQkVSQ0pBISEvWUZOQTFOSTUwLTVGd0EhIS83X0QyRFZSSTQyMEdWTTEwMkJJM1FKUDkzOEUxL0daeE5FNzA3MzAwMTI!/?PC_7_D2DVRI420GVM102BI3QJP938E1_action=doQuestpaList&id=&filter_action=&PC_7_D2DVRI420GVM102BI3QJP938E1_displayLink=&PC_7_D2DVRI420GVM102BI3QJP938E1_numPage=8&PC_7_D2DVRI420GVM102BI3QJP938E1_positionInHistory=&PC_7_D2DVRI420GVM102BI3QJP938E1_display=7&PC_7_D2DVRI420GVM102BI3QJP938E1_EtatQuestion=Toutes&PC_7_D2DVRI420GVM102BI3QJP938E1_AuteurQuestion=ALL&PC_7_D2DVRI420GVM102BI3QJP938E1_DestinataireQuestion=ALL&PC_7_D2DVRI420GVM102BI3QJP938E1_TypesDeTri=DateDepot&PC_7_D2DVRI420GVM102BI3QJP938E1_SortOrder=DESC&PC_7_D2DVRI420GVM102BI3QJP938E1_numPageTop=8&PC_7_D2DVRI420GVM102BI3QJP938E1_numPageBottom=8#7_D2DVRI420GVM102BI3QJP938E1">Questions Parlementaires</a>" ze fannen.  <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

  		</div> <!-- SS END 1 -->
	</div> <!-- ID END 1 -->
<!-- TAB 1 -->
  
<!-- TAB 2 -->
    <div id="id2" style="padding-top: 5px;">
  		<div class="slider_static">
			<div class="content_static"> <!-- CS START 2 -->

<p><strong>Fonctionnement</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro" %> <a href="#wei_fr">Comment trouver un dossier particulier?</a><br>
<%= image_tag "013.gif", :alt => "Fro" %> <a href="#fav_fr">Que signifie l'étoile jaune (<%= image_tag "fav.gif", :alt => "fav" %>) derrière le numéro de dossier ("Top" dossiers)?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#feature_fr">Que signifie la médaille (<%= image_tag "109.gif", :alt => "feature" %>) derrière le numéro de dossier ("Feature" dossiers)?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#dot_fr">Que signifie le point vert (<%= image_tag "active.gif", :alt => "active" %>) devant le nom du député?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#abstention_fr">"Abstention": est-ce que cela signifie aussi absence? </a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#niewen_fr">Que signifie "Niewenakommes" (autres revenus)?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#functioun_fr">Je voudrais bien une fonction A ou une statistique B! </a> <br>
</p>
<p><strong>A propos du projet</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wisou_fr">Pourquoi Depuwatch.lu?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wien_fr">Qui sommes-nous?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#beta_fr">Que signifie Beta?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#chamber_fr">Ne serait-il pas plus opportun que la Chambre des Députés offrît ces donnés plutôt qu'un parti politique?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#delete_fr">Je suis député : puis-je faire effacer mes données du site?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#updates_fr">Comment peut-je rester au courant des développements de Depuwatch?</a><br>
</p>
<p><strong>Infrastructure technique</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wou_fr">Comment arrivent ici les données?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#korrekt_fr">Comment puis-je être sûr que les données sont justes?</a>
</p>
<strong>Divers</strong>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#eu_fr">Où puis-je trouver les données concernant les députés européens?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#qp_fr">Où puis-je trouver les questions parlementaires?</a>
</p>

				<div class="more3">Une question manque dans notre F.A.Q.? <a href="/contact">Contactez-nous!</a></div>
				
			</div> <!-- CS END 2 -->
			
<div class="info">Fonctionnement</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="wei_fr"> </a> <strong>Comment trouver un dossier particulier?</strong></p>
<p> <strong>Avec la "Recherche"</strong></p>
<p>Il est possible d'utiliser un mot clé. Dans la section <a href="/texts">dossiers</a>, il suffit de mettre le mot-clé dans la recherche. Vont être affichés les dossiers qui comportent le mot clé dans leur titre.</p>
<p> <strong>Avec le numéro de dossier</strong></p>
<p>Si vous connaissez le numéro de dossier, allez dans la case "Search" sur <a href="/texts">dossiers</a>  et tapez le numéro. Les dossiers apparaissent même quand vous ne connaissez qu'une partie de leur numéro.</p>
<p><strong>Avec le thème</strong></p>
<p>La page <a href="/topics">thème</a> permet de retrouver un dossier par son thème. Sélectionner un thème particulier et de nouvelles précisions sur le thème apparaissent. Les thématiques des dossiers sont déterminées par le ministère qui a signé le dossier (par exemple, les dossiers du ministère des Finances se trouvent sous le thème Finance). <a href="#up"><img src="/images/012.gif"></a> </p>
<p><strong>"Top" dossier ou "Feature" dossier</strong></p>
<p>Quand un dossier suscite de nombreux réactions ou lorsqu'il a engendré des évolutions importantes il peut être classé comme "Feature" dossier par Politikercheck ou comme "Top" Dossier par les utilisateurs de Depuwatch. Ainsi il est possible de retrouver rapidement les dossiers les plus importants. <a href="#up"><img src="/images/012.gif"></a></p>
</div>


<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="fav_fr"> </a> <strong> Que signifie l'étoile jaune (<%= image_tag "fav.gif", :alt => "fav" %>) derrière le numéro de dossier ("Top" dossiers)?</strong></p>
<p>Les dossiers marqués d'une étoile jaune sont ceux qui sont considérés comme intéressants par les lecteurs de Depuwatch. </p>
<p>Il est possible de noter chaque dossier sur la page de détail. Les dossiers de la rubrique "Top" Dossier sont les 45 dossiers qui ont obtenus le plus de votes lors des sept derniers jours. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="feature_fr"> </a> <strong>Que signifie la médaille (<%= image_tag "109.gif", :alt => "feature" %>) derrière le numéro de dossier ("Feature" dossiers)?</strong></p>
<p>Les dossiers qui ont une médaille sont les "Feature" dossiers. Ce sont des dossiers particulièrement intéressants dont on a beaucoup parlé au Luxembourg ou qui ont apporté de changements importants. Leur titre comporte une explication sur la thématique du dossier.  </p>
<p>Les dossiers "Feature" sont sélectionnés par "Politikercheck" selon les critères énumérés plus haut. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="dot_fr"> </a> <strong>Que signifie le point vert (<%= image_tag "active.gif", :alt => "active" %>) devant le nom du député?</strong></p>
<p>Le point vert signifie que le député est en activité. Les noms des députés sans point vert son ceux qui ne sont plus membre à la Chambre des Députés. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="abstention_fr"> </a> <strong>"Abstention": est-ce que cela signifie aussi absence?</strong></p>
<p>Non. Abstention signifie que lors du vote, le député s'est abstenu. Nous ne pouvons pas comptabiliser les absences parce que ces données ne sont pas publiées par la Chambre des Députés. Nous ne pouvons reprendre que la présence des Députés lors d'un vote. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="niewen_fr"> </a> <strong> Que signifie "Niewenakommes" (autres revenus)?
</strong></p>
<p> Sous "Niewenakommes" on fait le lien au formulaire A et formulaire B, qui sont publiés par la Chambre des Députés. Ici les Députés énumèrent leurs activités et rémunération à cotés de celles de Député. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="functioun_fr"> </a> <strong>Je voudrais bien une fonction A ou une statistique B!
</strong></p>
<p> Depuwatch voudrait s'améliorer constamment. Si vous désirez voir une nouvelle fonction, écrivez-nous sur <i>info@depuwatch.lu</i>. </p><p>
Depuwatch est un projet conçu en "open source". Le code source de Depuwatch sont récupérables sur <a href="https://github.com/svnee/Depuwatch">Github</a> et peut être consulté et adapté par toute personne intéressée. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="info">A propos du projet</div>

<div class="content_static">
<p> <a name="wisou_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Pourquoi Depuwatch.lu?</strong></p>
<p> Le but de Depuwatch est de rendre la politique plus transparente pour les citoyens. Les votes à la Chambre sont en effet publiques, mais très difficiles à trouver.Ainsi les votes des Députés peuvent être trouvés sur le site de la Chambre (dans un fichier PDF), mais pas sous la forme d'une représentation graphique. Il est aussi possible de suivre les votes par ChamberTV, mais ici il n'y a que le résultat global du vote et pas le vote par Député.</p>

<p>Depuwatch va remédier à ces lacunes et présenter des données publiques d'une façon claire pour rapprocher les citoyens de la politique et des Députés. Ce projet a pour but d'améliorer la transparence dans le travail de la Chambre, ainsi que d'animer les citoyens à un dialogue plus intense avec les Députés. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="wien_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Qui sommes-nous?</strong></p>
<p>Depuwatch est un projet commun de politikercheck.lu et du Parti Pirate du Luxembourg. La coopération de Politikercheck et du Parti Pirate permet aux citoyens de s'adresser directement à leurs députés concernant des questions précises. Politikercheck.lu joue le rôle d'un observateur indépendant tandis que le Parti Pirate s'occupe de l'infrastructure technique.</p><p>
Pour des questions, des commentaires ou des critiques, <a href="/contact">contactez</a> les partenaires de Depuwatch. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="beta_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Que signifie Beta?</strong></p>
<p>Depuwatch est pour le moment dans une version Beta, c'est-à-dire dans une phase de développement. L'avantage de ce mode est de faciliter le feed-back des utilisateurs et de pouvoir ajouter de nouvelles fonctions selon leurs souhaits. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>


<div class="content_static">
<p> <a name="chamber_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong> Ne serait-il pas plus opportun que la Chambre des Députés offrît ces donnés plutôt qu'un parti politique?</strong></p>
<p>Si! Mais à ce jour ces données ne peuvent être trouvées que très difficilement (p.ex. votes) ou pas du tout (p.ex. présences) sur les sites officielles.</p><p>
Les partenaires de Depuwatch soutiennent toutes les initiatives autour d'un projet semblable de la part des autorités. Les responsables de la Chambre peuvent prendre contact avec nous à l'adresse <i>info@depuwatch.lu</i>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="delete_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Je suis député : puis-je faire effacer mes données du site?
</strong></a></p>
<p>Toutes les données de Depuwatch sont publiques. L'enregistrement, la publication, l'analyse et la discussion autour de ces données est un pilier incontestable de toute démocratie et les données ne seront pas effacées.  </p><p>
Si depuwatch crée un lien vers un réseau social d'un Député que ce dernier voulait ne pas publier, il pourra nous envoyer un mail à <i>abuse@depuwatch.lu</i> et nous supprimerons le lien en question. Cependant nous recommandons dans pareil cas de faire éliminer ce profil sur le réseau social car de manière générale ces sites ne restent pas secret. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="updates_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Comment peut-je rester au courant des développements de Depuwatch?</strong></a></p>
<p> Toutes les nouveautés seront publiées sur le <a href="http://blog.depuwatch.lu"> Depuwatch Blog</a>, <a href="https://www.facebook.com/Depuwatch">Facebook</a> et <a href="http://twitter.com/#!/depuwatch">Twitter</a>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static"></div>
<div class="info">Infrastructure technique</div>

<div class="content_static">
<p> <a name="wou_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Comment arrivent ici les données?</strong></a></p>
<p> Toutes les données de Depuwatch (sauf les liens sur les réseaux sociaux) sont issues des pages officielles de la <a href="http://chd.lu">Chambre des Députés</a> et <a href="http://légilux.public.lu">Légilux</a>, tout comme de <a href="http://politikercheck.lu">Politikercheck</a> (Fotos). Depuwatch relie les données et œuvre à une présentation claire.</p>
<p>Les données sont compilées avec un <a href="http://scraperwiki.com/scrapers/chd/">Script</a> automatique depuis les pages du site web de la Chambre. Elles sont vérifiées manuellement avant d'être publiées. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="korrekt_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Comment puis-je être sûr que les données sont justes?</strong></a></p>
<p>Les données sont extraites automatiquement du site de la Chambre et reliées dans une base de données. Le fonctionnement de cette base de donné est contrôlée manuellement par le Parti Pirate et Politercheck. Un lien vers les documents officiels (compte rendu, mémorial et résumé) est établi sur chaque page pour contrôler les données. </p>
<p>Malgré toutes ces précautions, s'il devait y avoir des erreurs, merci de nous <a href="/report">contacter</a>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="info">Divers</div>
<div class="content_static">
<p> <a name="eu_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Où puis-je trouver les données concernant les députés européens?</strong></a></p>
<p>Depuwatch s'occupe exclusivement des données des députés à la Chambre. Pour celles qui concernent les députés européens, il faut se diriger vers 
<a href="http://votewatch.eu/cx_countries.php?euro_tara_id=25">Votewatch.eu</a>.
 <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="qp_fr"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Où puis-je trouver les questions parlementaires?</strong></a></p>
<p>Les questions parlementaires se trouvent sur le site de la Chambre à la rubrique "<a href="http://chd.lu/wps/portal/public/!ut/p/c1/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gXI5ewIE8TIwN380ATAyMvVy_z0GA_Ywt3Y6B8pFm8kYVFcJC7o6-rpWWok4GngbNhsGugk5GBpxEB3X4e-bmp-pH6UeZIqsJ8DQ2MnDyNA70CLI0tXA31I3NS0xOTK_ULciPK8x0VFQGcGq-6/dl2/d1/L0lJSklna21BL0lKakFBRXlBQkVSQ0pBISEvWUZOQTFOSTUwLTVGd0EhIS83X0QyRFZSSTQyMEdWTTEwMkJJM1FKUDkzOEUxL0daeE5FNzA3MzAwMTI!/?PC_7_D2DVRI420GVM102BI3QJP938E1_action=doQuestpaList&id=&filter_action=&PC_7_D2DVRI420GVM102BI3QJP938E1_displayLink=&PC_7_D2DVRI420GVM102BI3QJP938E1_numPage=8&PC_7_D2DVRI420GVM102BI3QJP938E1_positionInHistory=&PC_7_D2DVRI420GVM102BI3QJP938E1_display=7&PC_7_D2DVRI420GVM102BI3QJP938E1_EtatQuestion=Toutes&PC_7_D2DVRI420GVM102BI3QJP938E1_AuteurQuestion=ALL&PC_7_D2DVRI420GVM102BI3QJP938E1_DestinataireQuestion=ALL&PC_7_D2DVRI420GVM102BI3QJP938E1_TypesDeTri=DateDepot&PC_7_D2DVRI420GVM102BI3QJP938E1_SortOrder=DESC&PC_7_D2DVRI420GVM102BI3QJP938E1_numPageTop=8&PC_7_D2DVRI420GVM102BI3QJP938E1_numPageBottom=8#7_D2DVRI420GVM102BI3QJP938E1">Questions Parlementaires</a>".  <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

  		</div> <!-- SS END 2 -->
	</div> <!-- ID END 2 -->
<!-- TAB 2 -->

<!-- TAB 3 -->
    <div id="id3" style="padding-top: 5px;">
  		<div class="slider_static">
			<div class="content_static"> <!-- CS START 2 -->

<p><strong>Benutzung</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro" %> <a href="#wei_de">Wie finde ich ein bestimmtes Verzeichnis?</a><br>
<%= image_tag "013.gif", :alt => "Fro" %> <a href="#fav_de">Was bedeutet der gelbe Stern (<%= image_tag "fav.gif", :alt => "fav" %>) hinter den Verzeichnis-Nummern, bzw. "Top" Verzeichnis?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#feature_de">Was bedeutet das Abzeichen (<%= image_tag "109.gif", :alt => "feature" %>) hinter den Verzeichnis-Nummern, bzw. "Feature" Dossier?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#dot_de">Was bedeutet der grüne Punkt (<%= image_tag "active.gif", :alt => "active" %>) vor den Abgeordneten?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#abstention_de">"Enthaltung" - ist das auch die Abwesenheit? </a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#niewen_de">Was bedeutet Nebeneinkommen ("Niewenakommes")?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#functioun_de">Ich will Funktion A oder Statistik B! </a> <br>
</p>
<p><strong>Über das Projekt</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wisou_de">Warum gibt es Depuwatch.lu?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wien_de">Wer seid ihr?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#beta_de">Was bedeutet "Beta"?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#chamber_de">Wäre es nicht besser das Parlament würde diese Daten anbieten als eine politische Partei?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#delete_de">Ich bin Abgeordneter; kann ich meine Daten löschen lassen?</a><br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#updates_de">Wie bleibe ich auf dem Laufenden was die Entwicklung von Depuwatch angeht?</a><br>
</p>
<p><strong>Technische Infrastruktur</strong></p>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#wou_de">Wo kommen die Daten her?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#korrekt_de">Woher weis ich, dass die Daten korrekt sind?</a>
</p>
<strong>Verschiedenes</strong>
<p>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#eu_de">Wo ist das Abstimmverhalten der EU-Abgeordneten zu finden?</a> <br>
<%= image_tag "013.gif", :alt => "Fro"%> <a href="#qp_de">Wo finde ich die "Parlamentarischen Anfragen" der Angeordneten?</a>
</p>

				<div class="more3">Es fehlt eine Frage im F.A.Q.? <a href="/contact">Sag uns bescheid!</a></div>
				
			</div> <!-- CS END 3 -->
			
<div class="info">Benutzung</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="wei_de"> </a> <strong>Wie finde ich ein bestimmtes Verzeichnis?</strong></p>
<p> <strong>Mit der "Suche"</strong></p>
<p>Verzeichnisse lassen sich nach Stichworten durchsuchen. Dazu einfach in der <a href="/texts">Verzeichnisse-Übersicht</a>, das gesuchte Wort eintippen. Dort werden dann die Verzeichnisse angezeigt, die das Stichwort im Titel haben.</p>
<p> <strong>Mit der Verzeichnis-Nummer</strong></p>
<p>Ist die Verzeichnis-Nummer bekannt, so reicht es in der  <a href="/texts">Übersicht</a>   in die "Suche" die Nummer einzutragen. Die Verzeichnisse lassen sich auf dieser Seite auch nach der Nummer sortieren, falls nur ein Teil der Zahlenreihe bekannt ist.</p>
<p><strong>Mit dem Thema</strong></p>
<p>Die <a href="/topics">Themen Seite</a> listet die Verzeichnisse nach Thema aus. Mit einem Klick auf ein bestimmtes Thema werden weitere Details zu den Verzeichnissen aus dem Themenbereich angezeigt. Das Thema des Verzeichnisses hängt vom unterzeichnendem Ministerium ab (z.N. Verzeichnisse, die vom Finanzministerium unterzeichnet sind werden unter "Finanzen" aufgelistet). <a href="#up"><img src="/images/012.gif"></a> </p>
<p><strong>"Top Verzeichnis und "Feature" Verzeichnis</strong></p>
<p>Wurde ein bestimmtes Verzeichnis besonders viel diskutiert oder brachte wichtige Entwicklungen mit sich, dann kann es von "Politikercheck" als "Feature" Verzeichnis oder von den Benutzern von Depuwatch als "Top" Verzeichnis markiert werden. Über diesen Weg sind interessante Verzeichnisse am schnellsten zu finden. <a href="#up"><img src="/images/012.gif"></a></p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="fav_de"> </a> <strong>Was bedeutet der gelbe Stern (<%= image_tag "fav.gif", :alt => "fav" %>) hinter den Verzeichnis-Nummern, bzw. "Top" Verzeichnis?</strong></p>
<p>Verzeichnisse die mit einem Stern markiert sind sind "Top" Verzeichnisse. Diese Verzeichnisse wurden von den Benutzern von Depuwatch als interessante Verzeichnisse ausgewiesen. </p>
<p>Auf der Detailseite eines jeweiligen Verzeichnisses kann dieses als "Top" Verzeichnis markiert werden. "Top" Verzeichnisse sind die 45 Verzeichnisse, für die in den letzten 7 Tagen am meisten gestimmt wurden. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="feature_de"> </a> <strong>Was bedeutet das Abzeichen (<%= image_tag "109.gif", :alt => "feature" %>) hinter den Verzeichnis-Nummern, bzw. "Feature" Dossier? </strong></p>
<p>Verzeichnisse die mit einem Abzeichen markiert sind sind "Feature" Verzeichnisse. Diese Verzeichnisse sind besonders interessant und wurden in Luxemburg viel diskutiert oder haben wichtige Veränderungen mit sich gebracht. Der Titel gibt einen kurzen Hinweis über das Thema das Verzeichnisses. </p>
<p>"Feature" Verzeichnisse werden von Politikercheck nach den oben genannten Kriterien ausgewählt. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%>  <a name="dot_de"> </a> <strong>Was bedeutet der grüne Punkt (<%= image_tag "active.gif", :alt => "active" %>) vor den Abgeordneten?</strong></p>
<p>Amtierende Abgeordnete sind mit diesem Icon markiert. Abgeordnete ohne Icon sind nicht mehr im Amt. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="abstention_de"> </a> <strong>"Enthaltung" - ist das auch die Abwesenheit?</strong></p>
<p>Nein. Unter "Enthaltung" wird nur angezeigt wie oft sich ein Abgeordneter bei einer Abstimmung enthalten hat. Angaben zur Abwesenheit können wir nicht anzeigen, da diese Daten nicht vom Parlament veröffentlicht werden. Wir können unter "Präsenz bei Abstimmungen" nur anzeigen, wie oft ein Abgeordneter präsent war, wenn ein Verzeichnis zur Abstimmung stand. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="niewen_de"> </a> <strong> Was bedeutet Nebeneinkommen ("Niewenakommes")?
</strong></p>
<p> Unter "Nebeneinkommen" wird auf die Formulare A und B verlinkt, die auf der Seite des Parlamentes publiziert werden. Hier listen die Abgeordneten ihre Nebentätigkeiten und Einkommen neben der des Abgeordneten auf. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <%= image_tag "013.gif", :alt => "Fro"%> <a name="functioun_de"> </a> <strong>Ich will Funktion A oder Statistik B!
</strong></p>
<p>Depuwatch wird ständig erweitert und verbessert. Wenn Du eine bestimmte Funktion vermisst schreib uns auf <i>info@depuwatch.lu</i>. </p><p>
Darüber hinaus ist Depuwatch "open source". Der Quellcode ist auf <a href="https://github.com/svnee/Depuwatch">Github</a> zu finden und kann von allen interessierten Personen eingesehen und verändert werden.<a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="info">Über das Projekt</div>

<div class="content_static">
<p> <a name="wisou_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Warum gibt es Depuwatch.lu?</strong></p>
<p>Das Ziel von Depuwatch ist es die Politik für Bürger transparenter zu gestalten. Die Abstimmungen des Parlamentes sind zwar öffentlich, es ist trotzdem nicht sehr einfach die einzelnen Abstimmungen zu verfolgen. So sind die Stimmen der Abgeordneten auf der Seite des Parlamentes (in einem PDF-Dokument) zu finden, eine übersichtliche grafische Darstellung fehlt allerdings. Es ist auch möglich die Abstimmungen über Chamber TV zu verfolgen, allerdings wird hier nur das Endresultat verkündet und nicht die Abstimmung der einzelnen Abgeordneten. </p>
<p>Depuwatch soll diese Lücke schließen und öffentliche Daten übersichtlich darstellen um die Bürger näher an die Politik und die Abgeordneten zu bringen. Diese Seite soll sowohl die Transparenz der politischen Arbeit im Parlament erhöhen als auch die Bürger zu einem direkterem Dialog mit den Abgeordneten anzuregen. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="wien_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Wer seid ihr?</strong></p>
<p>Depuwatch ist eine Zusammenarbeit von Politikercheck.lu und der Piratenpartei Luxemburg.  Diese Zusammenarbeit erlaubt es jedem Bürger den Abgeordneten konkrete Fragen zu bestimmten Abstimmungen zu stellen. Politikercheck übernimmt im Projekt Depuwatch die Rolle des unabhängigen Beobachters während die technische Infrastruktur von der Piratenpartei Luxemburg übernommen wird.</p><p>
Bei Fragen, Kommentaren, oder Kritik  <a href="/contact">kontaktiert</a> die Depuwatch Partner. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="beta_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Was bedeutet "Beta"?</strong></p>
<p>Depuwatch.lu ist momentan eine "Beta" Version, d.h. es ist noch nicht das fertige Produkt wie von den Entwicklern geplant. Der Vorteil einer "Beta" Version ist es mit dem Feedback der Benutzer Fehler beheben zu können und neue Funktionen nach den Wünschen der Benutzer einbauen zu können. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>


<div class="content_static">
<p> <a name="chamber_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Wäre es nicht besser das Parlament würde diese Daten anbieten als eine politische Partei?</strong></p>
<p>Doch. Momentan sind die auf Depuwatch dargestellten Daten aber nur schlecht (z.B. Abstimmverhalten) oder gar nicht (z.B. Präsenz bei Abstimmungen, frühere Abgeordnete) auf den offiziellen Seiten zu finden.</p><p>
Die Depuwatch Partner unterstützen jede Initiative für ein gleichwertiges Projekt seitens der offiziellen Stellen. Die Verantwortlichen des Parlamentes können mit uns unter folgender E-Mail Adresse in Kontakt treten: <i>info@depuwatch.lu</i>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="delete_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Ich bin Abgeordneter; kann ich meine Daten löschen lassen?
</strong></a></p>
<p>Alle Daten von Depuwatch sind öffentlich zugänglich. Das Speichern und Veröffentlichen, Analysieren und Diskutieren dieser Daten ist ein integraler Bestandteil einer Demokratie und werden nicht gelöscht werden. </p><p>
Sollte ein Abgeordneter ein Profil auf einem sozialen Netzwerk was auf Depuwatch verlinkt wurde geheim halten wollen, dann schicken sie uns eine E-Mail auf <i>abuse@depuwatch.lu</i> und wir löschen den Link. Wir empfehlen allerdings in diesem Fall auch das Profil auf dem sozialen Netzwerk zu löschen da sich solche Seiten generell nicht geheim halten lassen. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="updates_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Wie bleibe ich auf dem Laufenden was die Entwicklung von Depuwatch angeht?</strong></a></p>
<p> Neuigkeiten zum Projekt Depuwatch gibt es auf dem  <a href="http://blog.depuwatch.lu"> Depuwatch Blog</a>, <a href="https://www.facebook.com/Depuwatch">Facebook</a> und <a href="http://twitter.com/#!/depuwatch">Twitter</a>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static"></div>
<div class="info">Technische Infrastruktur</div>

<div class="content_static">
<p> <a name="wou_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Wo kommen die Daten her?</strong></a></p>
<p> Alle Daten von Depuwatch (bis auf Links auf soziale Medien) kommen von den offiziellen Seiten des <a href="http://chd.lu">Parlamentes</a> oder <a href="http://légilux.public.lu">Légilux</a>, als auch von Politikercheck.lu (Fotos). Depuwatch verbindet diese Daten und zeigt sie in einer übersichtlichen Darstellung an.</p>
<p>Die Daten wurden mit Hilfe eines<a href="http://scraperwiki.com/scrapers/chd/">Script</a> nach bestimmten Regeln beim automatischen Aufrufen der Webseite des Parlaments heruntergeladen ("gescraped"). Diese Daten werden dann manuell überprüft bevor sie veröffentlicht werden. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="korrekt_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Woher weis ich, dass die Daten korrekt sind?</strong></a></p>
<p>Die Daten werden automatisch aus den offiziellen Dokumenten des Parlaments herausgelesen und in einer Datenbank verbunden. Die Funktionsweise dieser Datenbank sowie die manuell eingetragenen Daten wurden von der Piratenpartei und Politikercheck auf ihre Korrektheit überprüft. Zur eigenen Überprüfung steht bei jedem Verzeichnis ein Link zu den offiziellen Dokumenten (Protokoll, Mémorial, Zusammenfassung). </p>
<p>Trotz aller Vorsicht können sich Fehler in diesen Prozess einschleichen. Sollte Dir ein Fehler auffallen, <a href="/report">melde Dich bei uns</a>. <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="info">Verschiedenes</div>
<div class="content_static">
<p> <a name="eu_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Wo ist das Abstimmverhalten der EU-Abgeordneten zu finden?</strong></a></p>
<p>Depuwatch zeigt nur das Abstimmverhalten der luxemburgischen Abgeordneten aus dem Parlament an. Das Abstimmverhalten der luxemburgischen EU-Abgeordneten sind auf
<a href="http://votewatch.eu/cx_countries.php?euro_tara_id=25">Votewatch.eu</a> zu finden.
 <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

<div class="content_static">
<p> <a name="qp_de"> </a> <%= image_tag "013.gif", :alt => "Fro"%> <strong>Wo finde ich die "Parlamentarischen Anfragen" der Angeordneten?</strong></a></p>
<p>Die parlamentarischen Anfragen der Abgeordneten sind auf der Seite des Parlaments unter"<a href="http://chd.lu/wps/portal/public/!ut/p/c1/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gXI5ewIE8TIwN380ATAyMvVy_z0GA_Ywt3Y6B8pFm8kYVFcJC7o6-rpWWok4GngbNhsGugk5GBpxEB3X4e-bmp-pH6UeZIqsJ8DQ2MnDyNA70CLI0tXA31I3NS0xOTK_ULciPK8x0VFQGcGq-6/dl2/d1/L0lJSklna21BL0lKakFBRXlBQkVSQ0pBISEvWUZOQTFOSTUwLTVGd0EhIS83X0QyRFZSSTQyMEdWTTEwMkJJM1FKUDkzOEUxL0daeE5FNzA3MzAwMTI!/?PC_7_D2DVRI420GVM102BI3QJP938E1_action=doQuestpaList&id=&filter_action=&PC_7_D2DVRI420GVM102BI3QJP938E1_displayLink=&PC_7_D2DVRI420GVM102BI3QJP938E1_numPage=8&PC_7_D2DVRI420GVM102BI3QJP938E1_positionInHistory=&PC_7_D2DVRI420GVM102BI3QJP938E1_display=7&PC_7_D2DVRI420GVM102BI3QJP938E1_EtatQuestion=Toutes&PC_7_D2DVRI420GVM102BI3QJP938E1_AuteurQuestion=ALL&PC_7_D2DVRI420GVM102BI3QJP938E1_DestinataireQuestion=ALL&PC_7_D2DVRI420GVM102BI3QJP938E1_TypesDeTri=DateDepot&PC_7_D2DVRI420GVM102BI3QJP938E1_SortOrder=DESC&PC_7_D2DVRI420GVM102BI3QJP938E1_numPageTop=8&PC_7_D2DVRI420GVM102BI3QJP938E1_numPageBottom=8#7_D2DVRI420GVM102BI3QJP938E1">Parlamentarische Anfragen</a>" zu finden.  <a href="#up"><img src="/images/012.gif"></a> </p>
</div>

  		</div> <!-- SS END 3 -->
	</div> <!-- ID END 3 -->
<!-- TAB 3 -->

</div>