<div class="content_wrapper">
<div class="info"><%= image_tag "108.gif", :alt => "Feedback" %> <a href="/report">Feedback</a> </div>

<div class="content_static">

	 <h1></h1>
	<p> Wat häls Du vun Depuwatch? Dëse Projet ass nach an Entwécklung, mat Dengem Feedback kënne mer Depuwatch weider verbesseren!</p>

<p>Feelermeldungen kanns Du op onser <a href="/report">Report</a> Säit man. Dëse Formulaire ass fir generell Kommentaren, positiv oder negativ, geduecht.</p>
	
<p><strong>Feedback</strong></p>
	
	<%= form_for(@report, :url => url_for(:action => 'report_sent', :controller => 'static')) do |f| %>
	  <% if @report.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this text from being saved:</h2>

	      <ul>
	      <% @report.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label :email %> (nëmme falls Réckmeldung erwënscht)<br />
	    <%= f.text_field :email %>
	  </div>
	  <div class="field">
	    <%= f.label :Beschreiwung %><br />
	    <%= f.text_area :description %>
	  </div>
	  <div class="actions">
	    <p><%= f.submit %></p>
	  </div>
	<% end %>

</div>
