<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#ordered_table').dataTable( {
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": false,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
                        "aoColumnDefs": [
                          { "bSortable": false, "aTargets": [ -1, -2 ] }
                        ]
			/*"aoColumns": [
						{ "sType": "date" },
						null,
						null,
						null
					] */
			} );
	} );
</script>
<div class="content_wrapper">
<div class="info">Depuwatch</div>

<div class="content_static">
<p>Häerzlech wëllkomm op Depuwatch.lu, dem Internetportal dat dem interesséierte Bierger d'Ofstëmmungsverhale vun onsen Deputéiert an der Chamber transparent an iwwersiichtlech duerstellt</p></div>

<div class="content_static">
<table style="padding: 15px 0px" cellspacing="5px">
<tr>
<td valign="top"  style="text-align:right;"><a href="/info"><span class="h2">Iwwer de Projet</span></a> </td>
<td  style="padding-left: 15px">Wat ass Depuwatch, wou kommen d'Donnéeën hier, wien sinn d'Entwéckler? Weider Informatiounen zum Projet.</td>
</tr>
<tr>
<td valign="top"  style="text-align:right;"><a href="faq"><span class="h2">F.A.Q.</span></a> </td>
<td style="padding-left: 15px">Äntwerten op déi heefegst gestallte Froen zu Depuwatch.</td>
</tr>
<tr>
<td valign="top"  style="text-align:right;"><a href="/contact"><span class="h2">Kontakt</span></a></td>
<td style="padding-left: 15px">Eng Fro, e Commentaire oder Kritik?</td>
</tr>
</table>
</div>


<div class="slider">Neisten Dossieren</div>
<div class="slider">Top Dossieren</div>
<div class="slider">Featured Dossieren</div>

<div class="slider_static">Neisten Dossieren </div>
<div class="slider_static">Top Dossieren </div>
<div class="slider_static">Featured Dossieren </div>


<div class="content_static">

<table class="content_index" id="ordered_table">
<tr>
	<th width="50px"><%= image_tag "dossiers_small.png", :alt => "Dossiers" %></th>
	<th width="80px"><%= image_tag "seances_small.png", :alt => "Séances" %></th>
	<th>Titel</th>
	<th width="185px" style="padding-left: 25px;"><%= image_tag "topics.png", :alt => "Topics" %></th>
</tr>
<% @dossiers.each do |t| -%>
<tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
		<td><%= link_to t.code, t%></td>
		<td><%= link_to "#{t.seance.start.strftime("%d/%m/%Y")} #{t.seance.start.strftime("%H:%M")}-#{t.seance.end.strftime("%H:%M")}", t.seance %></td>
		<td><%= t.title %></td>
		<td style="padding-left: 25px; text-align: left;"><%= t.topics_to_str.html_safe %></td>
</tr>
<% end -%>

</table>
</div>
