<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#ordered_table').dataTable( {
			"bPaginate": true,
                        "iDisplayLength": 15,
                        "sPaginationType": "full_numbers",
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 2 ] },
        { "sType": "eu_date", "aTargets": [ 1 ] },
				{ "bSearchable": false, "aTargets": [ 1, 2, 3 ] }
      ]
			} );
	} );
</script>
<div class="pointer_dossiers"></div>
<div class="content_wrapper">
<div class="info"><%= image_tag "113.gif", :alt => "Search" %> <a href="/search">Search</a>: <a href="/texts">Dossier</a>: Deputéiert: <strong><%= params[:deputy][:id] == '' ? 'All' : Deputy.find(params[:deputy][:id]).name %></strong> | Partei: <strong><%= params[:party][:id] == '' ? "All" : Party.find(params[:party][:id]).name %></strong> | Vote: <strong><%= params[:vote] %></strong> | Sessioun: <strong><%= params[:session][:id] == '' ? 'All' : session_display(Session.find(params[:session][:id])) %></strong> | Thema: <strong><%= params[:topic][:id] == '' ? 'All' : Topic.find(params[:topic][:id]).name %></strong></div>

<div class="content">
	<% if @texts.nil? %>
	Aucun résultat n'a pu être trouvé!
	<% else %>
<table class="content" id="ordered_table">
<thead>
<tr>
	<th width="70px"><img width="25" src="/images/dossiers_small.png" alt="logo"></th>
	<th width="65px"><img width="25" src="/images/seances_small.png" alt="logo"></th>
	<th></th>
	<th width="185px" style="padding-left: 25px;"><img width="25" alt="logo" src="/images/topics.png"></th>
</tr>
</thead>
<tbody>
<% @texts.each do |text| %>
  <tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
		<td><%= link_to text.code, text %></td>
		<td><%= link_to "#{text.seance.start.strftime("%d/%m/%Y")}", text %></td>
		<td><%= text.title %></td>
		<td style="padding-left: 25px; text-align: left;"><%= text.topics_to_str.html_safe %></td>
  </tr>
<% end %>
<% end %>
</tbody>
</table>

<div class="more2"><%= image_tag "113.gif", :alt => "Search" %> <a href="/search"> Zréck op Search</a></div>

</div>