<div class="content_wrapper">
<div class="info"><%= image_tag "113.gif", :alt => "Search" %> <a href="/search">Search</a></div>
<div class="usual2">

<ul class="idTabs" style="display:inline;"> 
    <li><a href="#idTab1" class="selected"><%= image_tag "file.gif", :alt => "dossier" %> Dossier</a></li> 
    <li><a href="#idTab2"> <%= image_tag "136.gif", :alt => "deputeiert" %> Deputéiert</a></li> 
  </ul> 

<div class="content">

<!-- TAB 1 -->
<div id="idTab1">
  
  <div class="slider_static">
  
  <%= form_tag({:action => "results_texts", :controller => "static"}, :method => "post") do  %>

<table style="margin-left:10px; margin-top: 10px; margin-bottom:10px;">
<tr><td width="115px"> Deputéiert:</td> 	<td><%= select (:deputy, :id, Deputy.all.collect {|d| [d.name, d.id]}, { :include_blank => "All" })%> </td></tr>
<tr><td> Partei: </td> 		<td> <%= select (:party, :id, Party.all.collect {|d| [d.name, d.id]}, { :include_blank => "All" })%> </td></tr>
<tr><td> Vote: </td> 		<td><input type="checkbox" name="vote" value="Jo"> Jo <input type="checkbox" name="vote" value="Nee"> Nee <input type="checkbox" name="vote" value="Abstentioun">
Abstentioun </td></tr>
<tr><td> Sessioun: </td>	<td><%= select (:session, :id, Session.all.collect {|d| ["#{d.start.strftime("%Y")}/#{d.end.strftime("%Y")}", d.id]}, { :include_blank => "All" })%></td></tr>
<tr><td> Thema: </td>		<td><%= select (:topic, :id, Topic.all.collect {|d| [d.name, d.id]}, { :include_blank => "All" })%></td></tr>
<tr><td> </td>					<td><%= submit_tag("Sich Dossier")%></td></tr>
</table>
<% end %>
  
  </div>

</div> 
<!-- TAB 1 -->

<!-- TAB 2 -->
<div id="idTab2">
  
  <div class="slider_static">
  <%= form_tag({:action => "results_deputies", :controller => "static"}, :method => "post") do  %>

<table style="margin-left:10px; margin-top: 10px; margin-bottom:10px;">
<tr><td width="115px"> Actif:</td>		 	<td><input type="checkbox" name="active" value="Jo"> Jo <input type="checkbox" name="active" value="Nee"> Nee
<tr><td> Bezierk: </td>		<td> <select name="bezierk"> <option value="all">All</option> <option value="N">Norden</option> <option value="O">Osten</option> <option value="Z">Zentrum</option> <option value="S">Süden</option> </select> </td></tr>
<tr><td> Partei: </td>		<td><%= select (:party, :id, Party.all.collect {|d| [d.name, d.id]}, { :include_blank => "All" })%> </td></tr>
<tr><td> Präsenz bei Voten: <td> <select name="presence"> <% (0..10).each do |i| %> <option value="<%=i*10%>"><%= "#{i*10} %" %></option> <% end %> </select> </td></tr>
<tr><td> Vote/Delegatioun: <td> <select name="delegations"> <% (0..10).each do |i| %> <option value="<%=i*10%>"><%= "#{i*10} %" %></option> <% end %> </select> </td></tr>
<tr><td> </td>					<td><%= submit_tag("Sich Deputéiert")%></td></tr>
</table>
<% end %>
  </div>

</div> 
<!-- TAB 2 -->



</div>
</div>
