<%= form_for(@text) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link_memorial %><br />
    <%= f.text_field :link_memorial %>
  </div>
  <div class="field">
    <%= f.label :seance_id %><br />
    <%= f.select :seance_id, Seance.all.collect {|s| [ s.start.strftime("%d/%m/%Y")+" de "+s.start.strftime("%H:%M"), s.id ] } %>
  </div>
	<div class="field">
    <%= f.label :topic_ids, "Themen" %><br />
    <%= f.select :topic_ids, Topic.all.collect {|t| [ t.name, t.id ] }, {}, {:size => 15, :multiple => true} %>
  </div>
	<div class="field">
    <%= f.label :featured, "Featured Tag" %><br />
    <%= f.text_field :featured %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
