<div class="pointer_dossiers"></div>
<div class="content_wrapper">
<div class="info">
<a href="<%= url_for @text.seance.session %>">Sessioun</a>: <span class="bold"><%= "#{@text.seance.session.start.strftime("%Y")}/#{@text.seance.session.end.strftime("%Y")}"%></span> 
|
<a href="<%= url_for @text.seance %>">S&eacute;ance</a>: <span class="bold"><%= @text.seance.start.strftime("%d/%m/%Y") %></span> de <%= @text.seance.start.strftime("%H:%M") %> jusqu'&agrave;
<%= @text.seance.end.strftime("%H:%M") %>

</div>


<div class="content">
<div class="wrapper_text">
<div class="projet1">

<p><img src="/images/file.gif"> <span class="h2"><%= @text.code %></span> </p>

<p><%= @text.title %></p>

<p><img src="/images/topics.gif" style="margin-left:2px"> <%= @text.topics_to_str.html_safe %></p>

</div>
<div class="result3">

<table>
	<tr>
		<td style="width: 15px; text-align:left; background-color:<%=vote_to_color(1)%>"> </td>
        <td style="text-shadow: 2px 2px 3px #CDCDCD; width: 50px; text-align:left; font-weight:bold;">Pour:</td>
		<td style="width: 50px; text-align:left;"><%= @text.votes_pour.count %></td>
	</tr>
    <tr>
		<td style="width: 15px; text-align:left; background-color:<%=vote_to_color(-1)%>"> </td>
        <td style="text-shadow: 2px 2px 3px #CDCDCD; width: 50px; text-align:left; font-weight:bold;">Contre:</td>
		<td style="width: 50px; text-align:left;"><%= @text.votes_contre.count %></td>
	</tr>
	 <tr>
		<td style="width: 15px; text-align:left; background-color:<%=vote_to_color(0)%>"> </td>
        <td style="text-shadow: 2px 2px 3px #CDCDCD; width: 50px; text-align:left; font-weight:bold;">Abstentions:</td>
		<td style="width: 50px; text-align:left;"><%= @text.abstentions.count %></td>
	</tr>
</table>
<p>
<img src="http://chart.apis.google.com/chart?cht=bhs&chs=150x23&chd=t:<%= "#{@text.votes_pour.count}|#{@text.votes_contre.count}|#{@text.abstentions.count}" %>&chds=0,60&chco=<%= "#{vote_to_color_simple(1)},#{vote_to_color_simple(-1)},#{vote_to_color_simple(0)}" %>" />
</div>

<div class="d_wrapper">
	<div class="details">
<img src="/images/resume.gif"> <%= link_to("Resumé", "http://www.chd.lu/wps/portal/public/RoleEtendu?action=doDocpaDetails&id=#{@text.code}")%>
|
<img src="/images/memorial.gif"> <%= @text.link_memorial.nil? ? "?" : link_to("Memorial", @text.link_memorial)%>
|
<img src="/images/compte.gif">  <%= @text.seance.compte_rendu.nil? ? "?" : link_to("Compte rendu", @text.seance.compte_rendu)%> 
	</div>
	<div class="d_fav">
<span id="favorite"><%= link_to(image_tag("fav.gif"), {:action => :create, :controller => :ratings, :text_id => @text.id}, :remote => true, :method => :POST) %> <%= link_to "Top Dossier?", {:action => :create, :controller => :ratings, :text_id => @text.id}, :remote => true, :method => :POST %></span>
	</div>
</div>

</div>
<table class="content">
	<tr>
		<th style="width: 150px; padding-top: 10px;">Pour</th>
		<th style="width: 150px; padding-top: 10px;">Contre</th>
		<th style="width: 150px; padding-top: 10px;">Abstention</th>
	</tr>
	<tr>
		<td>
			<ul id="votes">
				<% @text.votes_pour.each do |v| -%>

					<li><table>
<tbody><tr><td width="150px" style="border-bottom:0px solid red; padding: 0px;"><%= link_to v.deputy.name, v.deputy %></td><td style="border-bottom:0px solid red; padding: 0px;"> <div class="h2_partei_wrapper2"> <div class="<%= v.deputy.party.name %>"></div> <div class="h2_partei_name"><%= v.deputy.party.name %></div></div></td></tr>
</tbody></table> </li>

				<% end -%>
			</ul>
		</td>
		<td>
			<ul id="votes">
				<% @text.votes_contre.each do |v| -%>

					<li> <table>
<tbody><tr><td width="150px" style="border-bottom:0px solid red; padding: 0px;"><%= link_to v.deputy.name, v.deputy %> </td><td style="border-bottom:0px solid red; padding: 0px;"><div class="h2_partei_wrapper2"> <div class="<%= v.deputy.party.name %>"></div> <div class="h2_partei_name"><%= v.deputy.party.name %></div></div></td></tr>
</tbody></table></li>

				<% end -%>
			</ul>
		</td>
		<td>
			<ul id="votes">
				<% @text.abstentions.each do |v| -%>

					<li> <table>
<tbody><tr><td width="150px" style="border-bottom:0px solid red; padding: 0px;"><%= link_to v.deputy.name, v.deputy %> </td><td style="border-bottom:0px solid red; padding: 0px;"><div class="h2_partei_wrapper2"> <div class="<%= v.deputy.party.name %>"></div> <div class="h2_partei_name"><%= v.deputy.party.name %></div></div></td></tr>
</tbody></table></li>

				<% end -%>
			</ul>
		</td>
	</tr>
</table>
</div>
