<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deputy_id %><br />
    <%= f.select :deputy_id, Deputy.all.collect {|d| [d.name, d.id]} %>
  </div>
  <div class="field">
    <%= f.label :delegate_id %><br />
    <%= f.select :delegate_id, Deputy.all.collect {|d| [d.name, d.id]} %>
  </div>
  <div class="field">
    <%= f.label :text_id %><br />
    <%= f.select :text_id, @texts.collect {|d| [d.code, d.id]} %>
  </div>
  <div class="field">
    <%= f.label :vote %><br />
    <%= f.select :vote, %w[-1 0 1] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
