<!DOCTYPE html>
<html>
<head>
  <title>Depuwatch - Transparenz schaaft Vertrauen!</title>
  <link href="/images/favicon.ico" rel="SHORTCUT ICON">
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "chosen.css" %>
  <%= csrf_meta_tag %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery.dataTables" %>
	<%= javascript_include_tag "rails" %>
	<%= javascript_include_tag "sorting.plugins" %>
	<%= javascript_include_tag "jquery.idTabs.min.js" %>
</head>
<body>

<div class="wrapper">
	<div class="header"></div>
	<div class="logo"> <a style="display: block; height: 103px; width: 127;" href="/"> </a></div>
	<div class="title1"><a href="/">Depuwatch</a> <div class="beta_div"> <a href="/faq#beta" id="button"><span class="nav">Beta</span></a></div></div>
	<div class="title1_sub">Transparenz schaaft Vertrauen!</div>
	<div class="navi">
		<div class="navi_item"><div class="navi_img"><%= image_tag "sessions_white.png", :alt => "Sessions" %></div><div class="navi_link"><a href="<%= url_for :controller => :sessions %>">Sessiounen</a></div></div>
		<div class="navi_item"><div class="navi_img"><%= image_tag "seances_white.png", :alt => "Séances" %></div><div class="navi_link"><a href="<%= url_for :controller => :seances %>">  S&eacute;ancen</a></div></div>
		<div class="navi_item"><div class="navi_img"><%= image_tag "dossiers_white.png", :alt => "Dossiers" %></div><div class="navi_link"><a href="<%= url_for :controller => :texts %>"> Dossieren</a></div></div>
		<div class="navi_item"><div class="navi_img"><%= image_tag "deputes_white.png", :alt => "Députés" %></div><div class="navi_link"><a href="<%= url_for :controller => :deputies %>"> Deput&eacute;iert</a></div></div>
		<div class="navi_item"><div class="navi_img"><%= image_tag "topics_white.png", :alt => "Themen" %></div><div class="navi_link"><a href="<%= url_for :controller => :topics %>">  Themen</a></div></div>
</div>

	<div class="navi2">
		<div class="navi2_item"><div class="navi2_img">!</div><div class="navi2_link"><a href="/info">Iwwer de Projet</a></div></div>
		<div class="navi2_item"><div class="navi2_img">?</div><div class="navi2_link"><a href="/faq">F.A.Q.</a></div></div>
		<div class="navi2_item"><div class="navi2_img">@</div><div class="navi2_link"><a href="/contact">Kontakt</a></div></div>

<!-- LINKS -->
	<div class="links">
		<h2>Depuwatch Sourcen</h2>
		<ul>
			<li><a href="http://chd.lu/">Chambre des Députés</a></li>
			<li><a href="http://www.legilux.public.lu/">Légilux</a></li>
		</ul>
		<hr>
		<h2>Depuwatch Partner</h2>
		<ul>
			<li><a href="http://www.politikercheck.lu">Politikercheck.lu</a></li>
			<li><a href="http://www.piratepartei.lu">Piratepartei Lëtzebuerg</a></li>
		</ul>
		<hr>
		<h2>Weider Links</h2>
<ul>
<li><a href="http://votewatch.eu/cx_countries.php?euro_tara_id=25">Votewatch.eu</a></li>
</ul>
<hr>
		<h2>Parteien</h2>
		<ul style="list-style-type: none; margin: 0; padding-left:20px; border-bottom: 5px;">
		<li>	<div class="ADR"></div> <a href="http://www.adr.lu">ADR</a></li>
		<li>	<div class="CSV"></div> <a href="http://www.csv.lu">CSV</a></li>	
		<li>	<div class="Gréng"></div> <a href="http://www.greng.lu/">Déi Gréng</a></li>	
		<li>	<div class="Lénk"></div> <a href="http://www.dei-lenk.lu">Déi Lénk</a></li>
		<li>	<div class="DP"></div> <a href="http://www.dp.lu">DP</a></li>
		<li>	<div class="KPL"></div> <a href="http://www.kp-l.org/">KPL</a></li>
		<li>	<div class="LSAP"></div> <a href="http://www.lsap.lu">LSAP</a></li>
		<li>	<div class="Piraten"></div> <a href="http://www.piratepartei.lu">Piratepartei</a></li>
			</ul>
	</div>
	
		<hr>	
	
<div style="margin-top:10px; text-align: center;"><a href="https://www.facebook.com/Depuwatch" ><img src="/images/facebook_btn.png"></a> <a href="http://twitter.com/#!/depuwatch"><img src="/images/twitter_btn.png"></a> <a href="http://www.blog.depuwatch.lu/"><img src="/images/blogger.png"></a></div>	
	
	
</div>


	<%= yield %>


	<div class="footer">
<p><%= image_tag "113.gif", :alt => "Search" %> <a href="/search">Search</a> | <a href="/contact">Kontakt</a> | <a href="/license">Lizenz</a> | <a href="/disclaimer">Disclaimer</a> | <a href="/report">Mell ee Feeler</a> <%= image_tag "flag.gif", :alt => "Report" %> </p>

</div>
<!-- wrapper --></div>

<div class="feedback">

<img height="12px" src="/images/108s.gif" vertical-align="middle"> <a href="/feedback">Feedback</a>

</div>

<!-- Javascript -->
<%= javascript_include_tag "ga" %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23853402-3']);
  _gaq.push(['_setDomainName', document.domain]);
  _gaq.push(['_setAllowHash', 'false']);
  _gaq.push(['_trackPageview']);
</script>
</body>
</html>
