<!DOCTYPE html>
<html>
<head>
  <title>Dépuwatch - kuck dengen Députéiert of d'Fanger!</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
<div class="header"></div>
<div class="logo"> </div>
<div class="title1">Dépuwatch</div>
<div class="title1_sub">Ofstëmmungen aus der Chambre des Députés</div>
<div class="header_top"><!--<a href="/lu"><img src="http://piratepartei.lu/misc/images/LU-flag.png" alt="LU" width="16"></a> <a href="/fr"><img src="http://piratepartei.lu/misc/images/FR-flag.png" alt="FR" width="16"></a> <a href="/de"><img src="http://piratepartei.lu/misc/images/DE-flag.png" alt="DE" width="16"></a>--></div>
<div class="navi">
		<div class="navi_item"><div class="navi_img"><img src="/images/sessions.png" width="25" alt="sessions"></div><div class="navi_link"><a href="<%= url_for :controller => :sessions %>">Sessiounen</a></div></div>
		<div class="navi_item"><div class="navi_img"><img src="/images/seances_small.png" width="25" alt="séances"></div><div class="navi_link"><a href="<%= url_for :controller => :seances %>">  S&eacute;ancen</a></div></div>
		<div class="navi_item"><div class="navi_img"><img src="/images/dossiers_small.png" width="25" alt="dossiers"></div><div class="navi_link"><a href="<%= url_for :controller => :texts %>"> Dossie&eacute;en</a></div></div>
		<div class="navi_item"><div class="navi_img"><img src="/images/deputes_small.png" width="25" alt="députés"></div><div class="navi_link"><a href="<%= url_for :controller => :deputies %>">  D&eacute;put&eacute;iert</a></div></div>
		<div class="navi_item"><div class="navi_img"><img src="/images/themen_small.png" width="25" alt="themen"></div><div class="navi_link"><a href="<%= url_for :controller => :topics %>">  Themen</a></div></div>
</div>

<div class="navi2">
<div class="intro">Wéi stëmmen Députéiert of? Fann et raus!</div>
		<div class="navi2_item"><div class="navi2_img">!</div><div class="navi2_link"><a href="/info">Iwwer de Projet</a></div></div>
		<div class="navi2_item"><div class="navi2_img">?</div><div class="navi2_link"><a href="/faq">F.A.Q.</a></div></div>
		<div class="navi2_item"><div class="navi2_img">@</div><div class="navi2_link"><a href="/contact">Kontakt</a></div></div>

<!-- LINKS -->
	<div class="links">
		<h2>Chambre des Députés</h2>
		<ul>
			<li><a href="http://chd.lu/">Chamber.lu</a></li>
		</ul>
		<hr>
		<h2>Dépuwatch Partner</h2>
		<ul>
			<li><a href="http://www.politikercheck.lu">Politikercheck.lu</a></li>
			<li><a href="http://www.piratepartei.lu">Piratepartei Lëtzebeurg</a></li>
		</ul>
		<hr>
		<h2>Parteien</h2>
			<div class="ADR"></div> <a href="http://www.adr.lu">ADR</a><br>
			<div class="CSV"></div> <a href="http://www.csv.lu">CSV</a><br>	
			<div class="Gréng"></div> <a href="http://www.greng.lu/">Déi Gréng</a><br>		
			<div class="Lénk"></div> <a href="http://www.dei-lenk.lu">Déi Lénk</a><br>
			<div class="DP"></div> <a href="http://www.dp.lu">DP</a><br>
			<div class="KPL"></div> <a href="http://www.kp-l.org/">KPL</a><br>
			<div class="LSAP"></div> <a href="http://www.lsap.lu">LSAP</a><br>
			<div class="Piraten"></div> <a href="http://www.piratepartei.lu">Piratepartei</a>
	</div>
</div>


<%= yield %>
<div class="footer">
<a href="/license">Lizenz</a> | All Data provided <a href="http://chd.lu/wps/portal/public">by chd.lu</a> | <a href="/disclaimer">Disclaimer</a>
</div>
</div>


<!-- wrapper --></div>
</body>
</html>
